$black-100: #000;
$black-80: #333;
$white-100: #fff;
$gray-100: #808080;
$gray-80: #d9d9d9;
$correct: #1bcc66;
$accent: #eb4d3d;
$sky: #63c5da;
$button-height: 40px;
$min-device-width: 320px;
$mid-device-width: 520px;
$max-device-width: 720px;
$dropdown-backdrop: 1000;
$dropdown: 1010;
$sticky: 1020;
$fixed: 1030;
$modal-backdrop: 1040;
$offcanvas: 1050;
$modal: 1060;
$popover: 1070;
$tooltip: 1080;
$font-small: 1.4rem;
$font-medium: 1.6rem;
$font-large: 2rem;
